/* ==============
   Language list (body class)
   ==============
    en-us (ok)
    en-uk (ok)
    ar    (ok)
    es-mx (ok)
    es    (ok)
    fr    (ok)
    de    (ok)
    ko    (ok)
    hu    
  ==============*/

/*==============
  ES-MX
==============*/
.es-mx .stronger_together {
  font-size: 1.5em;
}  
.es-mx .copy_text {
  line-height: 1.2em;
}  
.es-mx .circle_of_strength {
  font-size: 1.5em; 
}
.es-mx .circle_goal {
  margin-top: 15px;
  font-size: .9em;
  line-height: 1.2em;
}
.es-mx .feature_circle .circle_of_strength {
  font-size: 1em; 
}
.es-mx .feature_circle .circle_goal {
  margin-top: -5px;
  font-size: .7em;
  line-height: .9em;
}
.es-mx .popup #popup_circle_modal #goal{
  margin-top: 0;
  font-size: 31%;
}    
.es-mx #popup_footer_share {
  letter-spacing: 0!important;
}

/*==============
  ES
==============*/
.es .stronger_together {
  font-size: 1.5em;
}  
.es .copy_text {
  line-height: 1.2em;
}  
.es .circle_goal {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.1em;
}  
.es .feature_circle .circle_goal {
  margin-top: 12px;
  font-size: .6em;
  line-height: 1em;
}
.es .popup #popup_circle_modal #goal{
  font-size: 35%;
}  
.es #popup_footer_share {
  letter-spacing: 0!important;
}

/*==============
  FR
==============*/
.fr .stronger_together,
.fr-ca .stronger_together{
  font-size: 1.5em;
}
.fr .copy_text,
.fr-ca .copy_text {
  line-height: 1.2em;
}  
.fr .circle_goal,
.fr-ca .circle_goal {
  line-height: 1.1em;
}
.fr .feature_circle .circle_goal,
.fr-ca .feature_circle .circle_goal {
  margin-top: 10px;
  font-size: .6em;
  line-height: 1em;
}
.fr .popup #popup_circle_modal #goal,
.fr-ca .popup #popup_circle_modal #goal{
  font-size: 35%;
}
.fr #popup_footer_share,
.fr-ca #popup_footer_share {
  letter-spacing: 0!important;
}

/*==============
  DE
==============*/
.de .stronger_together {
  font-size: 1.5em;
}
.de .copy_text {
  line-height: 1.2em;
}
.de .circle_goal {
  line-height: 1.1em;
}
.de .feature_circle .circle_goal {
  margin-top: 10px;
  font-size: .6em;
  line-height: 1em;
}
.de .popup #popup_circle_modal #goal{
  margin-top: -10px;
  font-size: 35%;
}
.de #popup_footer_share {
  letter-spacing: 0!important;
}

/*==============
  KO
==============*/
.ko .stronger_together {
  font-size: 1.4em;
  padding: 0 10px;
}
.ko .circle_of_strength {
  font-size: 1.3em; 
}
.ko .feature_circle .circle_of_strength {
  font-size: .7em;
  line-height: 1.6em;
}
.ko #popup_footer_share {
  letter-spacing: 0!important;
}

/*==============
  HU
==============*/  
.hu .stronger_together {
  font-size: 1.5em;
}  
.hu .copy_text {
  line-height: 1.2em;
}  
.hu .circle_of_strength {
  font-size: .8em;  
}
.hu .circle_goal {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.1em;
}
.hu .feature_circle .circle_goal {
  margin-top: 5px;
  font-size: .5em;
  line-height: 1em;
}
.hu .popup #popup_circle_modal #goal{
  font-size: 32%;
}   
.hu #popup_footer_share {
  font-size: .3em !important;
  letter-spacing: 0!important;
}

@media only screen and (min-width: 480px)  {

  /*==============
    ES-MX (480px)
  ==============*/
  .es-mx .stronger_together {
    font-size: 2em;
  }  
  .es-mx .circle_of_strength {
    font-size: 2em; 
  }
  .es-mx .circle_goal {
    margin-top: -10px;
    font-size: 1.3em;
    line-height: 1.1em;
  }
  .es-mx .feature_circle .circle_of_strength {
    font-size: 1.5em; 
  }
  .es-mx .feature_circle .circle_goal {
    margin-top: 0;
    font-size: 1em;
    line-height: 1em;
  }
  .es-mx .popup #popup_circle_modal #goal{
    margin-top: -10px;
    font-size: 50%;
  }

  /*==============
    ES(480px)
  ==============*/
  .es .stronger_together {
    font-size: 2em;
  }  
  .es .circle_goal {
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.2em;
  }    
  .es .feature_circle .circle_goal {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.2em;
  }

  /*==============
    FR (480px)
  ==============*/ 
  .fr .stronger_together,
  .fr-ca .stronger_together {
    font-size: 2em;
  }  
  .fr .feature_circle .circle_goal,
  .fr-ca .feature_circle .circle_goal {
    font-size: 1em;
    line-height: 1.1em;
  }

  /*==============
    DE (480px)
  ==============*/ 
  .de .stronger_together {
    font-size: 2em;
  }  
  .de .feature_circle .circle_goal {
    font-size: 1em;
    line-height: 1.1em;
  }

  /*==============
    KO (480px)
  ==============*/
  .ko .stronger_together {
    font-size: 1.6em;
  }  
  .ko .circle_of_strength {
    font-size: 1.5em;
  }
  .ko .feature_circle .circle_of_strength {
    font-size: 1.1em;
    line-height: 1.9em;
  }

  /*==============
    HU (480px)
  ==============*/  
  .hu .circle_of_strength {
    font-size: 1.3em;
  }
  .hu .circle_goal {
    margin-top: 0;
    font-size: 1.3em;
    line-height: 1.1em;
  }  
  .hu .feature_circle .circle_goal {
    margin-top: 0;
    font-size: .9em;
    line-height: 1.1em;
  }  
}

@media only screen and (min-width: 640px)  {

  /*==============
    ES-MX (640px)
  ==============*/
  .es-mx .stronger_together {
    font-size: 3.2em;
  }
  .es-mx .feature_circle .circle_goal {
    margin-top: -10px;
    font-size: 1.2em;
    line-height: 1em;
  }
  .es-mx .popup #popup_circle_modal #goal{
    margin-top: -30px;
    font-size: 70%;
  }  

  /*==============
    ES (640px)
  ==============*/
  .es .stronger_together {
    font-size: 3.2em;
  }
  .es .popup #popup_circle_modal #goal{
    font-size: 70%;
  }    

  /*==============
    FR (640px)
  ==============*/
  .fr .stronger_together,
  .fr-ca .stronger_together {
    font-size: 3.2em;
  }  
  .fr .feature_circle .circle_goal,
  .fr-ca .feature_circle .circle_goal {
    font-size: 1.1em;
  }
  .fr .popup #popup_circle_modal #goal,
  .fr-ca .popup #popup_circle_modal #goal{
    font-size: 70%;
  } 

  /*==============
    DE (640px)
  ==============*/
  .de .stronger_together {
    font-size: 3.2em;
  }  
  .de .feature_circle .circle_goal {
    font-size: 1.1em;
  }
  .de .popup #popup_circle_modal #goal{
    font-size: 70%;
  }  

  /*==============
    KO (640px)
  ==============*/
  .ko .stronger_together {
    font-size: 2em;
  }  
  .ko .feature_circle .circle_of_strength {
    font-size: 1.4em;
    line-height: 1.6em;
  }

  /*==============
    HU (640px)
  ==============*/
  .hu .stronger_together {
    font-size: 2em;
  }    
  .hu .circle_of_strength {
    font-size: 1.5em;
  }
  .hu .feature_circle .circle_goal {
    font-size: 1.2em;
    line-height: 1.1em;
  }
  .hu .popup #popup_circle_modal #goal{
    font-size: 65%;
  } 
}

@media only screen and (min-width:980px) {

  /*==============
    ES-MX (980px)
  ==============*/
  .es-mx .feature_circle .circle_goal {
    margin-top: 0;
    font-size: .8em;
    line-height: 1.2em;
  }

  .es-mx #popup_circle_modal #goal {
    margin-top: 0px;
  }

  /*==============
    ES (980px)
  ==============*/
  .es .feature_circle .circle_goal {
    margin-top: 14px;
    font-size: .8em;
    line-height: 1em;
  }

  /*==============
    FR (980px)
  ==============*/
  .fr .feature_circle .circle_goal,
  .fr-ca .feature_circle .circle_goal {
    margin-top: 10px;
    font-size: .8em;
    line-height: 1em;
  }

  /*==============
    DE (980px)
  ==============*/
  .de .feature_circle .circle_goal {
    margin-top: 10px;
    font-size: .8em;
    line-height: 1em;
  }  

  /*==============
    KO (980px)
  ==============*/
  .ko .feature_circle .circle_of_strength {
    font-size: 1.1em;
    line-height: 1.85em;
  }

  /*==============
    HU (980px)
  ==============*/  
  .hu .feature_circle .circle_goal {
    font-size: .9em;
    line-height: 1.1em;
  }
}


@media only screen and (min-width: 1024px) {
  
  /*==============
    ES-MX (1024px)
  ==============*/
  .es-mx .feature_circle .circle_goal {
    margin-top: 12px;
    font-size: .8em;
  }
  .es-mx .feature_circle .circle_of_strength {
    font-size: 1.8em; 
  }
  .es-mx .popup #popup_circle_modal #goal{
    margin-top: -30px;
    font-size: 90%;
  }

  /*==============
    ES (1024px)
  ==============*/
  .es .circle_goal {
    font-size: 1.4em;
    line-height: 1.1em;
  }    
  .es .feature_circle .circle_goal {
    margin-top: 10px;
    font-size: .9em;
  }
  .es .popup #popup_circle_modal #goal{
    font-size: 90%;
  }

  /*==============
    FR (1024px)
  ==============*/
  .fr .feature_circle .circle_goal,
  .fr-ca .feature_circle .circle_goal {
    font-size: .9em;
    line-height: 1.1em;
  }
  .fr .popup #popup_circle_modal #goal,
  .fr-ca .popup #popup_circle_modal #goal{
    font-size: 90%;
  }

  /*==============
    DE (1024px)
  ==============*/
  .de .feature_circle .circle_goal {
    font-size: .9em;
    line-height: 1.1em;
  }
  .de .popup #popup_circle_modal #goal{
    font-size: 90%;
  }  

  /*==============
    KO (1024px)
  ==============*/
  .ko .feature_circle .circle_of_strength {
    font-size: 1.15em;
    line-height: 1.85em;
  }

  /*==============
    HU (1024px)
  ==============*/ 
  .hu .stronger_together {
    font-size: 2.4em;
  }      
  .hu .popup #popup_circle_modal #goal{
    font-size: 80%;
  }
}

@media only screen and (min-width: 1200px)  {

  /*==============
    ES-MX (1200px)
  ==============*/
  .es-mx .circle_goal {
    margin-top: -10px;
    font-size: 1.4em;
    line-height: 1.1em;
  }
  .es-mx .feature_circle .circle_goal {
    margin-top: -10px;
    font-size: 1em;
    line-height: 1.2em;
  }

  /*==============
    ES (1200px)
  ==============*/
  .es .feature_circle .circle_goal {
    font-size: 1.1em;
  }

  /*==============
    FR (1200px)
  ==============*/
  .fr .feature_circle .circle_goal,
  .fr-ca .feature_circle .circle_goal {
    margin-top: -5px;
    font-size: 1.1em;
  }

  /*==============
    DE (1200px)
  ==============*/
  .de .feature_circle .circle_goal {
    margin-top: -5px;
    font-size: 1.1em;
  }

  /*==============
    KO (1200px)
  ==============*/
  .ko .stronger_together {
    font-size: 2.4em;
  }
  .ko .feature_circle .circle_of_strength {
    font-size: 1.4em;
    line-height: 1.6em;
  }

  /*==============
    HU (1200px)
  ==============*/
  .hu .stronger_together {
    font-size: 2.8em;
  }      
  .hu .feature_circle .circle_goal {
    font-size: 1em;
  }

}