
@media only screen and (min-width:768px) and (max-width:979px)  {

/* ===============
    Tablet (768px)
   =============== */
  
	  body {
		padding: 0px 80px 40px 80px;
	  }
	  
	  #top_nav{
		max-width:608px;
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 2px 0 7px 0;
	}
	
	#collapse_share_module{
		margin-left:1%;
	}
	
	.collapse_mode_show{
		padding: 14px 0 14px 0;
		display:block;
	}
	
	.collapse_mode_hide{
		display:none;
	}
	
	  #content_wrap{
		max-width:608px;
	  }
		
  
	  #top_content{
		max-height:1020px;
		overflow:hidden;
	 }
	 
	 .top_content_sub_span4{
		width:62%;
	}
	
	.top_content_sub_span2{
		width:38%;
	}
	
	.social_item{
		min-height:228px;
	}
	
}


@media only screen and (min-width:980px) {

/* ===============
    Tablet (979px)
   =============== */
  
	body {
		padding: 75px 20px 40px 20px;
	}
	  
	  #top_nav{
		max-width:939px;
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 20px 0 13px 0;
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	.collapse_mode_show{
		display:none;
	}
	
	.collapse_mode_hide{
		display:block;
	}
	
	  #content_wrap{
		max-width:939px;
	  }
		
  
	  #top_content{
		max-height:390px;
		overflow:hidden;
	 }
	 
	 .top_content_span{
		width:50%;
	}
	 
	 .top_content_sub_span4{
		width:62%;
	}
	
	.top_content_sub_span2{
		width:38%;
	}
	
	.social_item{
		min-height:178px;
	}
}


@media only screen and (min-width: 1024px) {

/* ===============
    Tablet (1024px)
   =============== */
  
    body {
		padding: 75px 20px 40px 20px;
	}
	
	#top_nav{
		max-width:984px;
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 20px 0 13px 0;
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	.collapse_mode_show{
		display:none;
	}
	
	.collapse_mode_hide{
		display:block;
	}
	
	#content_wrap{
		max-width:984px;
	}
	
	 #top_content{
		max-height:409px;
		overflow:hidden;
	 }
  
	.top_content_span{
		width:50%;
	}

	.top_content_sub_span4{
		width:62%;
	}
	
	.top_content_sub_span2{
		width:38%;
	}
	
	.social_item{
		min-height:187px;
	}
	
}


@media only screen and (min-width: 1200px)  {

/* ===============
    Tablet (1200px)
   =============== */
  
    body {
		padding: 75px 0px 40px 0px;
	}
	
	#top_nav{
		max-width:1200px;
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	.collapse_mode_show{
		display:none;
	}
	
	.collapse_mode_hide{
		display:block;
	}
	
	#content_wrap{
		max-width:1200px;
	}
  
    #top_content{
		max-height:480px;
		overflow:hidden;
	}
	
	.top_content_span{
		width:50%;
	}
	
	.top_content_sub_span4{
		width:62%;
	}
	
	.top_content_sub_span2{
		width:38%;
	}
	
	.social_item{
		min-height:228px;
	}
	
}