
@media only screen and (min-width:768px) and (max-width:979px)  {

/* ===============
    Tablet (768px)
   =============== */

	  #top_nav{
		max-width:608px;
		padding: 2px 20px 0 10px;
	}
	
	#collapse_share_module{
		margin-left:1%;
	}
	
	.vertical_mode_show{
		padding: 14px 0 14px 0;
		display:block;
	}

	
	  #content_wrap{
		max-width:608px;
	  }
		
  
	  #top_content{
		max-height:1020px;
		overflow:hidden;
	 }
	 
	 .top_content_sub_span4{
		width:62%;
	}
	
	.top_content_sub_span2{
		width:38%;
	}
	
	.feature_photo{
		min-height:228px;
	}
	
	#join_conversation{
		width:46%;
		padding:5% 7% 5% 7%;
		text-align:center;
	}
	
	#trending_actions_1{
		width:30%;
		padding:3% 5% 3% 5%;
		background:url('../img/assets/v-divider.png') no-repeat left center;
	}

	#trending_actions_2{
		width:44.5%;
		padding:5% 0 3% 2.5%;
		background:url('../img/assets/v-divider.png') no-repeat left center;
	}
	
	.user_info{
		padding:7% 0 0 18%;
		min-height:0;
	}
	
	.user_stats{
		float:left;
	}
	
	#my_circles{
		background:none;
		width:53%;
		padding:5% 0 3% 0;
	}
	
	
	
	/*DONATE*/
	
	#donate_area{
		/*padding:25px 0 0 1%;*/
	}
	
	#join_fight{
		width:20%;
	}
	
	#join_fight_content{
		width:48%;
		padding:0 2% 0 2%;
	}
	
	#watch_video{
		padding-left: 5%;
		width:23%;
	}
	
	#watch_video div{
		float:left;
		margin-right:5%;
	}

	#friend_photos_container{
		width:90%;
	}

	.feature_circle .circle_area {
	    width:300px;
	    height:300px;
	    margin-left:0;
	}

	#tagline{
		top:200px;
	}

	.stronger_together{
		font-size:4em;
		line-height: 1em;
		/*font-family: "Times New Roman",Georgia,Serif;*/
	}


}


@media only screen and (min-width:980px) {

/* ===============
    Tablet (980px)
   =============== */

   /*OVERLAYS*/
	.overlay{
		z-index: -99999;
		width:100%;
		height:100%;
		display:none;
	}

  
	body {
		padding: 75px 0 0 0;
	}
	  
	  #top_nav{
		max-width:939px;
		padding: 20px 0 13px 0;
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	.vertical_mode_show{
		display:none;
	}
	
	  #content_wrap{
		max-width:939px;
	  }
		
  
	  #top_content{
		max-height:390px;
		overflow:hidden;
	 }
	 
	 .top_content_span{
		width:50%;
	}
	
	.feature_photo{
		min-height:178px;
	}
	
	#join_conversation{
		width:46%;
		padding:5% 7% 5% 7%;
		text-align:center;
		
	}
	
	#trending_actions_1{
		width:30%;
		padding:3% 5% 3% 5%;
		background:url('../img/assets/v-divider.png') no-repeat left center;
	}

	#trending_actions_2{
		padding:3% 0 3% 2.5%;
		width:22.5%;
		background:url('../img/assets/v-divider.png') no-repeat left center;
	}
	
	.user_info{
		padding:3% 2% 3% 2%;
		width:38%;
	}
	
	#my_circles{
		padding:3% 0 3% 2.5%;
		width:30.5%;
		background:url('../img/assets/v-divider.png') no-repeat left center;
	}
	
	
	
	/*DONATE*/
	
	
	#join_fight{
		width:13%;
		padding-left:10%;
	}
	
	#join_fight_content{
		width:34%;
		padding:0 3% 0 1%;
		font-size:.8em;
		letter-spacing:1px;
		line-height:1.6em;
	}
	
	#watch_video{
		padding-left: 2.5%;
		width:35.5%;
	}
	
	#watch_video div{
		float:left;
		margin-right:5%;
	}
	
	#watch_video_text{
		font-size:1.4em;
		line-height:1.2em;
		text-align:left;
		margin-top:15px;
		display:block;
	}
	
	/*CREATE YOUR OWN CIRCLE SCREEN*/
    #create_circle_header{
	    font-size:3.6em;
	    margin-top:55px;
	    text-align:left;
    }

    #create_circle_screen h1{ 
	    line-height:1.2em;
	    font-size:4.2em;
    }

    .confirm_content{
		padding:5% 26% 2% 26%;
	}


    /*LAYOUT 1*/

    #gallery{
		padding:3% 4% 3% 5.5%;
	}

    .gallery_layout{
		margin-bottom:22px;
	}

	.layout1 .gallery_col{
		width:48%;
		margin-right:2%;
	}

	.circle_container{
		margin-bottom:0;
	}

	.photo_container{
		height:265px;
		margin-bottom:0;
	}

	.layout1 .photo_container{
		width:48%;
		margin-right:4%;
	}

	.layout1 .gallery_col2, .layout1 .photo_container_2{
		margin-right:0;
	}

	/*LAYOUT 2*/

	.layout2 .photo_col{
		width:23%;
		margin-right:2%;
	}

	.layout2 .photo_col:last-child{
			margin-right:0;
		}

	.layout2 .circle_col{
		width:48%;
		margin-right:2%;
	}


	/*LAYOUT CIRCLE*/
	.layout_circle {
		width:100%;
	}
	.layout_circle .circle_container{
		width:44.3%;
		margin-right:2%;
	}

/*	.layout_photo {
		width:;
	}*/
	.layout_photo .photo_container{
		width:23.5%;
		margin-right:2%;
	}

	.layout_photo .photo_container:last-child{
		margin-right:0;
	}

	.flex_margin_bottom{
		margin-bottom:22px;
	}

	.twitter_author{
		font-size:1em;
	}

	.twitter_time{
		font-size:.8em;
	}

	.twitter_text{
		font-size:.8em;
	}

	.feature_photo .twitter_author{
		font-size:.9em;
	}

	.feature_photo .twitter_time{
		font-size:.7em;
	}

	.feature_photo .twitter_text{
		font-size:.7em;
	}

	.circle_area{
	    margin-left:-15px;
	}

	/*CAROUSEL*/

	#carousel{
		height: 421px;
	}

	#carousel_slider{
		width:1425px;
	}
	
	.feature_photo{
		min-height:177px;
	}

	
	.feature_circle .circle_area {
	    width:220px;
	    height:220px;
	    margin-left:-10px;
	    margin-top:-10px;
	}

	.feature_circle .circle_goal{
		left:20%;
		font-size:.9em;
		width:140px;
	}

	.twitter_avatar, .twitter_title{
		margin-top:10px;
	}

	#tagline{
		top:200px;
	}

	.stronger_together{
		font-size:3em;
		line-height: 1em;
		/*font-family: "Times New Roman",Georgia,Serif;*/
	}

    
}


@media only screen and (min-width: 1024px) {

/* ===============
    Tablet (1024px)
   =============== */
 
	
	#top_nav{
		max-width:984px;
	    
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	#content_wrap{
		max-width:984px;
	}
	
	 #top_content{
		max-height:421px;
		overflow:hidden;
	 }

	 /*CAROUSEL*/

	#carousel{
		height: 421px;
	}

	#carousel_slider{
		width:1479px;
	}

	.circle_area{
	    margin-left:-5px;
	}
	
	.feature_photo{
		min-height:192px;
	}

	
	.feature_circle .circle_area {
	    width:250px;
	    height:250px;
	    margin-top:-10px;

	}

	.feature_circle .circle_goal{
		left:17%;
		width:180px;
		font-size:1.1em;
	}

	.feature_photo .twitter_author{
		font-size:1em;
	}

	.feature_photo .twitter_time{
		font-size:.8em;
	}

	.feature_photo .twitter_text{
		font-size:.8em;
	}

	
}


@media only screen and (min-width: 1200px)  {

/* ===============
    Tablet (1200px)
   =============== */
  
	
	#top_nav{
		max-width:1200px;
	}
	
	#top_sub_nav{
		margin:12px 2% 0 0;
		display:block;
	}
	
	#content_wrap{
		max-width:1200px;
	}
  
    #top_content{
		max-height:490px;
		overflow:hidden;
	}

	.feature_photo{
		min-height:228px;
	}

	#friend_photos_container{
		width:95%;
	}

	.friend_pic_wrapper_large{
		margin-right:15px;
		float:left;
		
	}

	.friend_name_large{
		font-size:1.2em;
		margin-top:40px;
		max-width:100px;
		float:left;
	}

	/*CAROUSEL*/

	#carousel{
		height: 460px;
	}

	#carousel_slider{
		width:1803px;
	}

	.feature_circle .circle_area {
	    width:300px;
	    height:300px;
	    margin-top:0px;
	}

	.feature_circle .circle_goal{
		left:20%;
		font-size:1.2em;
	}

	.twitter_avatar, .twitter_title{
		margin-top:20px;
	}

	#tagline{
		top:270px;
	}

	.stronger_together{
		font-size:4em;
		line-height: 1em;
		/*font-family: "Times New Roman",Georgia,Serif;*/
	}


}