@media only screen and (min-width: 360px) {

/* ===============
    Smartphone (360px)
   =============== */
  
	  body {
		padding: 0px 0px 40px 0px;
	}
	
	#top_nav{
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 2px 25px 7px 0;
	}
	
	#collapse_share_module{
		margin-left:6%;
	}
  
	#top_content{
		max-height:2100px;
		overflow:none;
	}
	
	.social_item{
		width:100%;
		min-height:360px;
		height:auto;
	}

}

@media only screen and (min-width: 480px)  {

/* ===============
    Smartphone (480px)
   =============== */
  
    #content_wrap{
	  	max-width:480px;
	}
	
	#top_content{
		max-height:2300px;
		overflow:none;
	}
	
	#top_nav{
		max-width:480px;
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 2px 20px 7px 0;
	}
	
	#collapse_share_module{
		margin-left:5%;
	}
	
	.social_item{
		min-height:480px;
	}

}

@media only screen and (min-width: 640px)  {

/* ===============
    Smartphone (640px)
   =============== */
  
	body {
		padding: 0px 20px 40px 20px;
	}
	
	#content_wrap{
	  	max-width:600px;
	}
	
	#top_nav{
		max-width:600px;
		font-size: 11px;
	    font-weight: lighter;
	    letter-spacing: 1px;
	    padding: 2px 12px 7px 0;
	}
	
	#collapse_share_module{
		margin-left:2.5%;
	}
  
	#top_content{
		max-height:1020px;
		overflow:hidden;
	 }
	 
	.top_content_sub_span4{
		width:62%;
		float:left;
	}
	
	.top_content_sub_span2{
		width:38%;
		float:left;
	}
	
	.social_item{
		min-height:228px;
	}
	
	#featured_circle{
		min-height:480px;
	}
	  
}