/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Helvetica', Arial, Verdana;
	padding: 0 0 40px 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
/*.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;
overflow:hidden;
}*/

/* ===============
    Smartphone (320px)
   =============== */

#content_wrap{
  	min-width:320px;
  	max-width:1200px;
}

h2{
	font-size:28px;
	font-weight:lighter;
	line-height:10px;
}

/*TOP NAV*/

#top_nav{
	min-width:320px;
	font-size: 11px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 2px 20px 7px 0;
}

.collapse_mode_show{
	padding: 14px 0 14px 0;
	display:block;
}

#collapse_share_module{
	margin-left:8%;
}

#top_main_nav{
	margin-left:2%;
}

#top_sub_nav{
	margin:12px 2% 0 0;
	display:none;
}

#top_sub_nav div{
	float:left;
}

#top_sub_nav > div{
	margin-left:10px;
}

.top_sub_nav_item > div{
	margin-left:5px;
}

.top_sub_nav_item > div:first-child{
	margin-left:0;
}

.dropdown-toggle, .dropdown-toggle a{
	color:#333333;
	outline: 0 none;
}

.navbar-inner{
	background-color:white;
	color:#333333;
	background-image:none;
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:none;
}

.btn-navbar{
	color:#f38dab;
	text-shadow:none;
	background-color:#ffffff;
	background-image:none;
	filter:none;
	border-color:#ffffff;
	*background-color:#ffffff;
	filter:none;
}
	
.btn-navbar:hover,.btn-navbar:focus,.btn-navbar:active,.btn-navbar.active,.btn-navbar.disabled,.btn-navbar[disabled]{
	color:#333333;
	background-color:#ffffff;
	*background-color:#ffffff;
}
.btn-navbar:active,.btn-navbar.active{background-color:#ffffff \9;}

.navbar .nav > li > a {
    color: #333333;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #f38dab;
    outline:none;
}

.navbar-fixed-top{margin-bottom:0px;}

.navbar .btn-navbar .icon-bar{
	display:block;
	width:25px;
	height:3px;
	background-color:#f38dab;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar{
	float:right;
	padding:7px 10px;
	margin-left:5px;
	margin-right:-8px;
	color:#ffffff;
	text-shadow:none;
	background-color:#ffffff;
	background-image:none;
	border-color:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none}
	
.navbar .btn-navbar:hover,.navbar .btn-navbar:focus,.navbar .btn-navbar:active,.navbar .btn-navbar.active,.navbar .btn-navbar.disabled,.navbar .btn-navbar[disabled]{
	color:#ffffff;
	background-color:#ffffff;
	*background-color:#ffffff;
	}
.navbar .btn-navbar:active,.navbar .btn-navbar.active{
	background-color:#ffffff \9;
	}

/*FEATURE AREA*/

#top_content{
	max-width:100%;
	min-height:400px;
	overflow:visible;
}

#main_image{
	width:100%;
}

#main_image img{
	max-width:100%;
	height:auto;
	width: auto\9; /* ie8 */
}

#main_feature{
	width:100%;
}

#featured_header{
	background-color:#e7e7e7;
	height:35px;
}

#featured_header img{
	max-width:75%;
	height:auto;
	width: auto\9; /* ie8 */
	float:left;
	margin: 11px 5px 0 10px;
}

.featured_dot{
	margin:11px 0 0 5px;
	background-color:white;
	width:12px;
	height:12px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
    float:left;
}

.social_item{
	width:100%;
	height:240px;
	overflow:hidden;
}

.social_item img{
	max-width:120%;
	margin-left:-10%;
	height:auto;
}

#featured_circle{
	background-color:#f38dab;
	min-height:400px;
	overflow:hidden;
}

#featured_circle img{
	max-width:90%;
	margin-left:5%;
	height:auto;
}

#featured_twitter{
	background-color:#00cffb;
}

/*JOIN CONVERSATION AREA*/

.log_out_status{
	display:none;
}

.log_in_status{
	display:none;
}

#user_profile_pic{
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
	width:140px;
	height:140px;
	background-size: 150px auto;
	margin-right:5%;
}

#bottom_user_name{
	font-size:38px;
	margin-bottom:-5px;
	font-weight:lighter;
}

#create_another_circle{
	font-size:13px;
	margin: 10px 0 0 -2%;
	padding:15px 6% 13px 6%;
}

#circle_num{
	color:#00ccff;
	font-weight:bold;
}


#join_conversation{
	padding:5%;
	text-align:center;
}

#community{
	padding:5%;
}

#join_header img{
	max-width:100%;
	height:auto;
	width: auto\9; /* ie8 */
}

#join_text{
	margin:15px 0 0 0;
	font-size:16px;
	line-height:24px;
	color:#333333;
}

#join_btns{
	margin:10px 0 30px 0;
}

#upload_photo_btn{
	margin-left:3%;
}

#donate_btn{
	font-size:12px;
	padding:2% 8% 2% 8%;
}

#community{
	padding:5% 0 5% 0;
}

#community_header{
	font-size:22px;
	margin-bottom:5px;
}

.community_item{
	margin-bottom:5px;
}

.action_icon{
	float:left;
	width:30px;
	height:auto;
	padding:3px;
}

.community_line_1{
	font-size:18px;
	color:#333333;
	margin-bottom:-3px;
}

.community_line_2{
	font-size:14px;
	color:#333333;
}

.circle_line_1{
	font-size:16px;
	margin-bottom:-3px;
}

.circle_line_2{
	font-size:14px;
}

/*GALLERY*/

#gallery{
	background-image: url('../img/assets/bg-pattern.png'); 
	height:500px;
	position:relative;
	
}

/*footer*/

#donate_area{
	min-height:110px;
}

#join_fight{
	text-align:center;
	padding:8px 0 0 0;
}

#join_fight_content{
	padding:10px 5% 0 5%;
}
	

#join_fight_text{
	font-size:14px;
	line-height:22px;
}

#join_fight_content h1{
	font-size:16px;
}

#join_fight_content p{
	font-size:12px;
	margin-top:-10px;
}

/* privacy and policy utils*/

#footer{
	padding: 10px 0 10px 0;
}

#privacy_policy{
	font-size:10px;
}

#privacy_policy_btn{
	float:right;
}

#term_and_cons_btn{
	float:left;
}



#friendlist{
	margin-top:40px;
}

.profile_image{
	float:left;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
	width:65px;
	height:65px;
	background-size: 65px auto;
}

@font-face {
    font-family: 'nimbussanconregular';
    src: url('fonts/nimbussancon-reg-webfont.eot');
    src: url('fonts/nimbussancon-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nimbussancon-reg-webfont.woff') format('woff'),
         url('fonts/nimbussancon-reg-webfont.ttf') format('truetype'),
         url('fonts/nimbussancon-reg-webfont.svg#nimbussanconregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*OVERLAYS*/
.overlay{
	position:absolute;
	width:100%;
	height:100%;
	top: 5.7%;
	left:0;
	background: url('../img/assets/black-opacity-75.png');
	display:none;
}


/*UTILITIES*/

.light_font{
	font-weight:lighter;
}

.all_cap{
	text-transform: uppercase;
}

.h_divider_top{
	width:100%;
	height:39px;
	background: url('../img/assets/h-divider-top.png') repeat-x;
	position:absolute;
	top:0;
	left:0;
}

.h_divider_bottom{
	width:100%;
	height:39px;
	background: url('../img/assets/h-divider-bottom.png') repeat-x;
	position:absolute;
	bottom:0;
	left:0;
}

.v_divider{
	background:url('../img/assets/v-divider.png') no-repeat left center;
}

.pink_btn{
	font-size:12px;
	background-color:#f38dab;
	color:white;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    behavior: url(css/PIE.htc);
    padding:3% 5% 2.5% 5%;
    display:inline-block;
    *display: inline;
	zoom: 1;
	font-weight:lighter;
	letter-spacing:1px;
}

.pink_text{
	color:#f38dab;
}

.auto_resize{
	max-width:100%;
	height:auto;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  

/*@media only screen and (min-width: 580px) {
  
   #content_wrap{
	  	width:580px;
	}

    #top_main_nav div{
		float:left;
		margin-right:3%;
	}
	
	#top_main_nav{
		padding:30px 4% 42px 4%;
	}
	
	#main_image img{
		max-width:519px;
		max-height:412px;
	}
	
	#featured_header img{
		max-width:309px;
		max-height:13px;
	}

}*/

/*@media only screen and (min-width: 760px) {

  
    #content_wrap{
	  	min-width:900px;
	}
	
	#main_image{
		max-width:50.7%;
		float:left;
	}
	
	#main_image img{
		max-width:100%;
		height:auto;
	}
	
	#main_feature{
		max-width:49.3%;
		height:80%;
		float:left;
	}
}*/


/*@media only screen and (min-width: 35em) {
    Style adjustments for viewports that meet the condition 
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
     Style adjustments for high resolution devices 
}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
