/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 100%;
    line-height: 1.4;
	font-family: 'Helvetica', Arial, Verdana;
	padding: 0;
	color:#333;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
/*.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;
overflow:hidden;
}*/

/* ===============
    Smartphone (320px)
   =============== */

#content_wrap{
  	min-width:320px;
  	max-width:1200px;
  	position:relative;

}

.vertical_mode_show{
	padding: 14px 0 14px 0;
	display:block;
}

h2{
	font-size:1.6em;
	font-weight:lighter;
	line-height:30px;
	margin-bottom:5px;
}

/*TOP NAV*/

#top_nav{
	min-width:320px;
	font-size: .65em;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 2px 20px 0 0;
}

#collapse_share_module{
	margin-left:8%;
}

#top_main_nav{
	margin-left:2%;
}

#top_sub_nav{
	margin:12px 2% 0 0;
	display:none;
}

#top_sub_nav div{
	float:left;
}

#top_sub_nav > div{
	margin-left:10px;
}

.top_sub_nav_item > div{
	margin-left:5px;
}

.top_sub_nav_item > div:first-child{
	margin-left:0;
}

.dropdown-toggle, .dropdown-toggle a{
	color:#333333;
	outline: 0 none;
}

.navbar-inner{
	background-color:white;
	color:#333333;
	background-image:none;
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:none;
}

.btn-navbar{
	color:#f38dab;
	text-shadow:none;
	background-color:#ffffff;
	background-image:none;
	filter:none;
	border-color:#ffffff;
	*background-color:#ffffff;
	filter:none;
}
	
.btn-navbar:hover,.btn-navbar:focus,.btn-navbar:active,.btn-navbar.active,.btn-navbar.disabled,.btn-navbar[disabled]{
	color:#333333;
	background-color:#ffffff;
	*background-color:#ffffff;
}
.btn-navbar:active,.btn-navbar.active{background-color:#ffffff \9;}

.navbar .nav > li > a {
    color: #333333;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #f38dab;
    outline:none;
}

.navbar-fixed-top{margin-bottom:0px;}

.navbar .btn-navbar .icon-bar{
	display:block;
	width:25px;
	height:3px;
	background-color:#f38dab;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar{
	float:right;
	padding:7px 10px;
	margin-left:5px;
	margin-right:-8px;
	color:#ffffff;
	text-shadow:none;
	background-color:#ffffff;
	background-image:none;
	border-color:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none}
	
.navbar .btn-navbar:hover,.navbar .btn-navbar:focus,.navbar .btn-navbar:active,.navbar .btn-navbar.active,.navbar .btn-navbar.disabled,.navbar .btn-navbar[disabled]{
	color:#ffffff;
	background-color:#ffffff;
	*background-color:#ffffff;
	}
.navbar .btn-navbar:active,.navbar .btn-navbar.active{
	background-color:#ffffff \9;
	}
	

/*FEATURE AREA*/

#top_content{
	max-width:100%;
	min-height:390px;
	overflow:none;
}

#main_image{
	width:100%;
}

#main_image img{
	max-width:100%;
	height:auto;
	width: auto\9; /* ie8 */
}

#main_feature{
	width:100%;
}

#featured_header{
	background-color:#e7e7e7;
	height:35px;
}

#featured_header img{
	max-width:75%;
	height:auto;
	width: auto\9; /* ie8 */
	float:left;
	margin: 11px 5px 0 10px;
}

.featured_dot{
	margin:11px 0 0 5px;
	width:12px;
	height:12px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
    float:left;
}

.featured_selected{
	background-color:#f38dab;
}

.featured_deselected{
	background-color:white;
}

.feature_photo{
	position: relative;;
	min-height:313px;
	background-color:#444;
	border-top:1px solid white;
	border-left:1px solid white;
}

.featured_circle{
	background-color:#f38dab;
	min-height:380px;
	overflow:hidden;
	text-align:center;
	border-top:1px solid white;
}

.featured_circle img{
	max-width:90%;
	height:auto;
}


/*CAROUSEL*/

#carousel{
	overflow: hidden;
	position: relative;
	height: 1085px;
    width: 100%;
}

#carousel_slider{
	height:100%;
	width:300%;
	position: absolute;
	top:0;
	left:0;
}

.carousel_item{
	width:33.33%;
	float:left;
}

/*JOIN CONVERSATION AREA*/

.log_out_status{
	display:none;
}

#join_conversation{
	padding:5%;
	text-align:center;
}

#trending_actions_1{
	padding:1% 5% 0 5%;
	background:none;
	margin-bottom:40px;
}

#trending_actions_2{
	background:none;
	padding:1% 0 7% 6%;
}

.log_in_status{
	display:none;
}


.user_info{
	padding:5%;
	min-height: 210px;
	text-align:center;
}

.upload_photo_btn:hover{
	text-decoration: none;
	color:white;
}

#user_profile_info{
	float:none;
}

.user_stats{
	float:left;
	min-height: 210px;
}

#my_circles{
	background:none;
	padding:2% 0 3% 6%;
}

#user_profile_pic{
	margin-left:25%;
	margin-bottom:10px;
	float:none;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
	width:140px;
	height:140px;
	background-size: 150px auto;
	margin-right:5%;
}

#bottom_user_name{
	font-size:2.4em;
	margin-bottom:-5px;
	font-weight:lighter;
}

#create_another_circle{
	font-size:.7em;
	margin: 10px 0 10px -2%;
	padding:15px 6% 13px 6%;
}

#log_in_upload_photo_btn{
	font-size:.7em;
	margin: 0 0 0 -2%;
	padding:15px 6% 13px 6%;
}

#circle_num{
	color:#00ccff;
	font-weight:bold;
}

#join_header img{
	max-width:100%;
	height:auto;
	width: auto\9; /* ie8 */
}

#join_text{
	margin:15px 0 0 0;
	font-size:1em;
	line-height:1.6em;
	color:#333333;
}

#join_btns{
	margin:10px 0 30px 0;
}

#donate_btn{
	font-size:.8em;
	padding:2% 8% 2% 8%;
}


.action_item{
	margin-bottom:5px;
}

.action_item a, .action_item a:hover{
	color:#f38dab;
	text-decoration: none;
}

.action_line_1{
	font-size:1.1em;
	color:#333333;
	line-height:1.2em;
}

.action_line_2{
	font-size:.9em;
	color:#333333;
}

.action_icon{
	width:100%;
	padding-right:12px;
	vertical-align:top;
	text-align:center;
}

.circle_line_1{
	font-size:1em;
	margin-bottom:-3px;
}

.circle_line_2{
	font-size:.9em;
}

/*GALLERY*/

#filter_nav{
	margin-bottom:15px;
}


#gallery{
	background-image: url('../img/assets/bg-pattern.png'); 
	position:relative;
	padding:3% 0 3% 0;
	height:600px;
}


/*LAYOUT 1*/

.flex_margin_bottom{
	margin-bottom:0;
}

.layout1 .gallery_col{
	width:100%;
	margin-right:0;
}


.circle_container{
	background-color:#f38dab;
	height:440px;
	position:relative;
	padding:20px;
	color:white;
	margin-bottom: 22px;
}

.circle_container a{
	color:white;
}


.feature_circle{
	background-color:#f38dab;
	position:relative;
	padding:20px;
	color:white;
}

.photo_container{
	background-color:#444;
	height:312px;
	position:relative;
	background-size:110%;
	overflow: hidden;
	margin-bottom: 22px;
}

.layout1 .photo_container{
	width:100%;
	margin-right:0;
}
	

.layout1 .gallery_col2, .layout1 .photo_container_2{
	margin-right:0;
}

.layout1 .gallery_col{
	width:100%;
	margin-right:0;
}

/*LAYOUT 2*/

.layout2 .photo_col{
	width:100%;
	margin-right:0;
}

.layout2 .photo_col:last-child{
	margin-right:0;
}

.layout2 .circle_col{
	width:100%;
	margin-right:0;
}

.layout2 .photo_container{
	width:100%;
	margin-right:0;
}

/*LAYOUT PHOTO*/

.layout_photo{
	width:98%;
	margin-bottom:22px;
}



/*GALLERY ASSETS*/

.gallery_layout{
	margin-bottom:0px;
}



.gallery_layout:last-child{
	margin-bottom:22px;
}

.photo_icon{
	position: absolute;
	right:5px;
	bottom:5px;
}

.point{
	width:20px;
	height:20px;
	background-image: url('../img/assets/small-dot.png');
	position: absolute;
}

.twitter_avatar, .twitter_title{
	float:left;
	margin-top:20px;
}

.twitter_title{
	height:60px;
}

.twitter_avatar{
	margin:20px 10px 0 10px;
}

.twitter_author{
	font-size:1.4em;
	color:#0e6578;
	margin-top:3px;
}

.twitter_time{
	font-size:.8em;
	color:white;
}

.twitter_text{
	font-size:1.2em;
	color:white;
	clear:both;
	width:92%;
	margin-left:5%;
}

.circle_area_wrapper{
	margin-top: 40px;
	width:100%;
	text-align: center;
}


.circle_area {
    position: relative;
    width:300px;
    height:300px;
    display:inline-block;
    margin-left:-12px;
}

.feature_circle .circle_area{
	margin-left:-13px;
	margin-top:0px;
}

.circle_area img{
	position:absolute;
	top:12px;
	left:15px;
	max-width:91%;
	height:auto;
}

.feature_circle .circle_area img{
	top:17px;
	left:15px;
	max-width:91%;
}

.circle_goal{
	width:180px;
	font-size:1.2em;
	font-weight: lighter;
	text-align: center;
	display: inline-block;
	position:absolute;
	top:30%;
	left:22%;
}

.feature_circle .circle_goal{
	left:21%;
}

.circle_divider{
	border-bottom:1px solid white;
	height:2px; 
}

.circle_of_strenth{
	font-weight: normal;
	font-size:2em;
}

.profile_image_small{
	float:left;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;	
    behavior: url(css/PIE.htc);
	width:70px;
	height:70px;
	background-size: 70px auto;
	position:absolute;
	margin-left:-22px;
	margin-top:-25px;
}

.share_circle div{
	float:left;
	margin-right:5px;
}

.share_circle{
	font-size:.8em;
	position: absolute;
	right:20px;
	bottom:20px;
}

.full_photo{
	position: absolute;
	top:0;
	left:0;
	max-width:110%;
	height:auto;
}

.view_circle_btn{
	margin-bottom:20px;
	
}

.circle_rollover{
	background-image: url('../img/assets/white-opacity.png'); 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:black;
	display:none;
}

.photo_rollover{
	background-image: url('../img/assets/white-opacity.png'); 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	display:none;
}

.circle_rollover a{
	text-decoration: underline;;
	color:#f38dab;
}

.gallery_item_btn{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

/*.rollover_photo_content{
	margin-top:38%;
}

.rollover_circle_content{
	margin-top:45%;
}*/

/*DONATE*/

#donate_area{
	border-top:#e8e8e8 1px solid;
	padding:15px 0 0 0;
	background-color: #fff;
	width:100%;
}

.footer_relative{
	position:relative;
}

.footer_fixed{
	position:fixed;
	left:0;
	bottom:0;
}

#donate_area > div{
	float:left;
	margin-bottom:10px;
}

#join_fight{
	text-align:center;
	width:50%;
}

#join_fight_content{
	font-size:.7em;
	letter-spacing:1px;
	line-height:1.5em;
	text-align:center;
	padding:0 4% 0 4%;
	display:none;
}

#watch_video{
	background: url('../img/assets/v-divider-short.png') no-repeat left center; 
	padding-left:9%;
	width:50%;
}

#watch_video div{
	float:left;
	margin-right:5%;
}

#watch_video_text{
	font-size:1.4em;
	line-height:1.2em;
	margin-top:15px;
	letter-spacing:1px;
	text-align:left;
	display:none;
}

#join_fight_text{
	font-size:.9em;
	line-height:1.6em;
}


/*CREATE YOUR OWN CIRCLE SCREEN - CHOOSE ACTION*/

.popup_checkbox{
	position: relative;
	display: inline-block;
	width: 19px;
	height: 19px;
	top: 5px;
	margin: 0 7px 0;
	background: url('../img/icons/ico_checkbox.png') no-repeat 0 0;
	cursor: pointer;
}

.dim {
	opacity: .5;
}

#create_circle_screen{
	display:none;
	background-color:white;
	font-weight:lighter;
}

.header_pop_content{
	padding:2% 0 5% 7%;	
}

#create_circle_header{
	color:white;
	background-color:#10dcd6;
	font-size:1.6em;
	padding:20px 2% 16px 4%;
	font-weight:lighter;
	margin-top:0;
	text-align:center;
}

#create_circle_screen h1{ 
	font-weight:lighter;
	line-height:1.4em;
	font-size:2em;
	max-width:800px;
}

.steps{
	font-size:1.4em;
}

#select_action{
	min-width: 280px;
	max-width: 700px;
	font-size:1.1em;
	position:relative;
	margin-bottom:20px;
}

#goal_selected{
	min-width: 180px;
	max-width: 650px;
}

.select_field{
	padding: 8px 0 5px 15px;
	background-color:#e8e8e8;
}

.select_icon{
	position:absolute;
	top:0;
	right:0;
	padding:8px 10px 5px 10px;
	background-color:#f38dab;
}

.select_dropdown{
	font-size:1.1em;
	display:none;
	clear:left;
	position:absolute;
	left:0;
	top:29px;
	background-color:white;
	border:1px solid #d2d2d2;
	-moz-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    behavior: url(css/PIE.htc);
    min-width:99.5%;
}

.select_dropdown ul{
	padding:0 0 5px 0;
	margin:0;
}

.goal_dropdown_list{
	list-style-type:none;
	padding:7px 0 6px 13px;
	/*font-size:.7em;*/
}

#custom_action{
	font-size:1.3em;
	margin:10px 0 20px 0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;	
    min-width: 290px;
	padding: 8px 0 8px 15px;
	background-color:#e8e8e8;
	border:none;
}

/*CREATE YOUR OWN CIRCLE SCREEN - CHOOSE FRIENDS*/

#temp_name_enter_container{
	font-weight:lighter;
    letter-spacing: 1px;
    text-align:left;
    font-size:2em;
    display:none;
}

.friend_content{
	margin-left:35px;
}

#friend_list{
	font-size:2.8em;
	position:relative;
}

.temp_name_input_container{
	font-size:1em;
    display:none;
}

#friend_search_wrapper{
	display:block; 
	position:relative; 
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    behavior: url(css/PIE.htc);
    padding:13px 10px 0px 15px;
    background-color:#e8e8e8;
    height: 26px;
}

#friend_search_field{
	font-size:2em;
    background-color:#e8e8e8;
    border:none;
    text-align:left;
    font-weight:lighter;
    letter-spacing: 1px;
    box-shadow:none;
    margin-top:-7px;

}

#friend_search_field:focus{
	box-shadow:none;
}

#add_friend_tool{
	position:relative; 
	display:inline-block;
	white-space: normal; 
}

#choose_photos_wrapper{
	white-space:nowrap; 
	position:relative; 
	display:block; 
	margin-top:20px;
}

.friend_pic_wrapper{
	width:40px;
	height:40px;
	overflow:hidden;
	margin:-20px 15px 0 5px;
	background-color:#000;
}

.friend_pic{
	max-width:100%;
	height:auto;
}

.friend_name{
	margin-top:-10px;
	font-size:1.4em;
}

#add_friend{
	position:relative;
}

.typeahead{
	min-width:240px;
}

.typeahead li{
	line-height:40px;
}

.typeahead li > a{
	padding:20px 0 ;
}

#name_plus_btn{
	position:absolute;
	top:5px;
	right:6px;
	display:none;
}

.friend_btn{
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    background-color:transparent;
	font-size:1em;
    font-weight:lighter;
    letter-spacing: 1px;
    color:#00cffb;
    display:inline-block;
    position:relative;
    box-shadow: none;
}

.friend_btn_over{
	line-height:1em;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    behavior: url(css/PIE.htc);
    padding:6px 10px 1px 15px;
	font-size:1em;
    background-color:#e8e8e8;
    text-align:left;
    font-weight:lighter;
    letter-spacing: 1px;
    color:#00cffb;
    display:inline-block;
    position:relative;
    -webkit-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.38);
-moz-box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.38);
box-shadow: -1px 5px 11px -5px rgba(0,0,0,0.38);
}

.name_delete_btn{
	position:absolute;
	top:3px;
	right:7px;
	display:none;
}

.btn_control{
	width:100%;
	margin-top:15px;
}

.button_left_wrapper{
	width:49.5%; 
	text-align: right;
	padding-right:.5%;
	vertical-align: middle;
}

.button_right_wrapper{
	width:49.5%; 
	text-align: left;
	padding-left:.5%;
	vertical-align: middle;
}

.tributton_left_wrapper{
	width:23.5%; 
	text-align: right;
	padding-right:.5%;
	vertical-align: middle;
}

.tributton_mid_wrapper{
	width:10%; 
	text-align: center;
	vertical-align: middle;
}

.tributton_right_wrapper{
	width:65.5%; 
	text-align: left;
	padding-left:.5%;
	vertical-align: middle;
}

.friend_item{
	float:left;
}

/*FRIEND PHOTO PANEL*/

#friend_photos{
	position: relative;
	padding:2%;
	display:none;
}

#friend_photos_container{
	width:85%;
	height:330px;
}

.friend_item{
	width:24%;
	margin-bottom:15px;
}

.friend_pic_wrapper_large{
	width:60px;
	height:60px;
	overflow:hidden;
	background-color:#000;
	margin-right:15px;
	position: relative;
	float:none;
	
}

.friend_name_large{
	font-size:1.2em;
	margin-top:3px;
	max-width:60px;
	float:none;
	line-height: 1em;
}

.friend_pic_wrapper_large img{
	max-width:100%;
	height:auto;
}

.photo_check{
	position: absolute;
	left:0;
	top:0;
	display:none;
}

.scroll-pane{		
    width: 100%;
	height: 100%;
	overflow: auto;
	outline:none;
	margin-top:10px;
}

#close_friend_photos_btn{
	position:absolute;
	right:7px;
	top:7px;
}

.jspVerticalBar
	{
		width: 15px;
	}

/*CREATE CIRCLE CONFIRM*/
#circle_confirm_screen{
	position:relative;
	height:300px;
	display:none;
}

.confirm_content{
	padding:5% 16% 2% 16%;
}

.confirm_content p{
	font-weight: lighter;
	font-size:.8em;
	min-width:230px;
}

#opt_in p a{
	text-decoration: underline;
	color:#f38dab;
}

/*#opt_in, #create_loading {
	display:none;
}*/

#thank_you, #create_loading{
	display:none;
}

#thank_you p{
	font-size:1.33em;
	text-align: center;
}

#create_loading p{
	font-size:1em;
	margin-top:70px;
	text-align: center;
}


/*CANCEL SCREEN*/

#cancel_screen{
	display:none;
	background-image: url('../img/assets/pink-opacity.png'); 
	padding-top:30px;
	height:320px;
	position:relative;
	color:white;
	font-size:1.3em;
	font-weight: lighter;
	text-align: center;
}


/* FOOTER*/

#footer{
	letter-spacing:1px;
	font-size:.6em;
	clear:both;
	width:100%;
	margin-top:5px;
}

#footer a:hover{
	color:#f38dab;
}


#privacy_policy_btn{
	float:right;
}

#term_and_cons_btn{
	float:left;
}

#friendlist{
	margin-top:40px;
}



@font-face {
    font-family: 'nimbussanconregular';
    src: url('fonts/nimbussancon-reg-webfont.eot');
    src: url('fonts/nimbussancon-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nimbussancon-reg-webfont.woff') format('woff'),
         url('fonts/nimbussancon-reg-webfont.ttf') format('truetype'),
         url('fonts/nimbussancon-reg-webfont.svg#nimbussanconregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*OVERLAYS*/
.overlay{
	position:fixed;
	top:0;
	left:0;
	background: url('../img/assets/black-opacity-70.png');
	z-index: -99999;
	width:100%;
	height:100%;
	display:none;
}


/*UTILITIES*/

.circle_fb_share_btn, .circle_tw_share_btn{
	margin-top:-1px;
}

.light_font{
	font-weight:lighter;
}

.all_cap{
	text-transform: uppercase;
}

.h_divider_top{
	width:100%;
	height:39px;
	background: url('../img/assets/h-divider-top.png') repeat-x;
	position:absolute;
	top:0;
	left:0;
}

.h_divider_bottom{
	width:100%;
	height:39px;
	background: url('../img/assets/h-divider-bottom.png') repeat-x;
	position:absolute;
	bottom:0;
	left:0;
}

.v_divider{
	background:url('../img/assets/v-divider.png') no-repeat left center;
}

.pink_btn{
	font-size: 10px;
	background-color:#f38dab;
	color:white;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    behavior: url(css/PIE.htc);
    padding:6px 13px 6px 13px;
    display:inline-block;
    *display: inline;
	zoom: 1;
	font-weight:lighter;
	letter-spacing:1px;
	text-align:center;
	text-transform: uppercase;
}

.pink_btn_rollover{
	font-size: 10px;
	background-color:#f33c72;
	color:white;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    behavior: url(css/PIE.htc);
    padding:6px 13px 6px 13px;
    display:inline-block;
    *display: inline;
	zoom: 1;
	font-weight:lighter;
	letter-spacing:1px;
	text-align:center;
	text-transform: uppercase;
}

.pink_filter_btn{
    padding:5px 13px 3px 13px;
}

.pink_filter_btn_rollover{
    padding:5px 13px 3px 13px;
}

.view_circle_btn{
		padding:10px 35px 10px 35px;
	}

.pink_text{
	color:#f38dab;
}

.blue_btn{
	background-color:#3f7098;
}

.light_blue_btn{
	background-color:#00cffb;
}



.auto_resize{
	max-width:100%;
	height:auto;
	width: auto\9; /* ie8 */
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #e8e8e8;
    background-image: none;
    color: #333;
    outline: 0 none;
    text-decoration: none;
}


#language_menu .dropdown-menu img{
	margin-top:1px;
}

#language_menu .dropdown-menu li a{
	height:20px;
}

#language_menu .dropdown-menu .language, .dropdown-menu .language_divider{
	color:#777;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  

/*@media only screen and (min-width: 580px) {
  
}*/

/*@media only screen and (min-width: 760px) {

}*/


/*@media only screen and (min-width: 35em) {
    Style adjustments for viewports that meet the condition 
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
     Style adjustments for high resolution devices 
}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
